<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>

<% if @user.kitties.any? %>
<h3>This user has <%= @user.kitties.size %> kitties!</h3>
       <table class="kitties" summary="Kitties that this user has">
          <%= render @kitties %>
        </table>
<% else %>
<% if @user != current_user %>
<h3>This user has no kitties.  Tell them to add some!</h3>
<% else %>
<h3>Add some kitties!</h3>
<% end %>
      <% end %>

<%= link_to "Add a new Kitty", new_kitty_path if @user == current_user  %>
