<font class="featured">Pictures of <%= @picture.kitty.name %></font>
<br><br>
<TABLE><TR>
<TD>
<%= image_tag @picture.avatar.url(:medium) %>
</TD>
</TR></TABLE>
<BR>
<h5><%= @picture.caption %></h5>
<% if @picture.kitty.user == current_user %>
<% if @picture.is_profile_pic == true %>
This is your profile picture!<BR>
<% else %>
<%= link_to "Make Profile Picture", make_profile_pic_picture_path %>
<% end %>
<% end %>
<BR>
<%= link_to "Back to Kitty", @picture.kitty %>
