<h1>Add a new kitty!</h1>
<%= form_for(@kitty) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>
<div class="field">
<%= f.label :dob %><br />
<!--<%= f.text_field :dob %>-->
<%= f.date_select :dob, :start_year => 1980 %>
</div>
<div class="field">
<%= f.label :breed %><br />
<%= f.text_field :breed %>
</div>
<div class="field">
<%= f.label :likes %><br />
<%= f.text_field :likes %>
</div>
<%= f.hidden_field :user_id, { :value => @user.id } %>
<div class="actions">
<%= f.submit "Add kitty!" %>
</div>
<% end %>

</div>

